<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="/css/styles.css" rel='stylesheet' type='text/css' />
    <!--<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />-->
    <!--&lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;-->
    <script src="/js/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="/js/formValidationScript.js" ></script>

</head>
<body>
    <div class ="container">
        <button type="button" class="button-cart">
            <!--<a href="#" ><span class="glyphicon glyphicon-shopping-cart" th:text="${itemsCount}">345</span></a>-->
        </button>
    </div>
    <div class ="container">
        <div th:include="wstawki :: banner"/>
    </div>
    <div class ="container">
        <div th:include="wstawki :: topNavigation"/>
    </div>

    <div class ="container">
        <h3>Koszyk</h3>
            <table class="table">
                <tr>
                    <th>Produkt ID</th>
                    <th>Nazwa</th>
                    <th>Cena (zł)</th>
                    <th>Ilość (szt.)</th>
                    <th>Wartość (zł)</th>
                </tr>
                <th:block th:each="cartItem : ${cartItemsList}">
                    <tr>
                        <td th:text="${cartItem.productId}">Prod ID</td>
                        <td th:text="${cartItem.name}">Name</td>
                        <td th:text="${cartItem.price}">price</td>
                        <td th:text="${cartItem.amount}">Amount</td>
                        <td th:text="${cartItem.value}">value</td>
                    </tr>
                </th:block>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th th:text="${value}">SUM VALUE</th>
                </tr>
            </table>

        <div class="form-wrapper">
            <form class="form-horizontal" id="myform" th:action="@{~/productOrdered}"  method="post">
                <h4> Dostawa</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="dostawaRadios" id="kurier1" value="option1"/>
                        Kurier (przedpłata na konto) - 14,00 zł
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="dostawaRadios" id="kurier2" value="option1"/>
                        Kurier (pobranie) - 19,00 zł
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="dostawaRadios" id="kurier3" value="option2"/>
                        Kurier (zapłata przez PayU - karty płatnicze, szybkie przelewy) - 14,00 zł
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="dostawaRadios" id="odwbiorOsobisty" value="option3"/>
                        Odbiór osobisty - 0,00 zł
                    </label>
                </div>
                <br/>
                <h4>Typ odbiorcy (pole obowiązkowe)</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" name="typeRadios" id="optionsRadios1" value="odbiorcaOption1"/>
                            osoba prywatna lub przedsiębiorca nie będący płatnikiem podatku VAT
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="typeRadios" id="optionsRadios2" value="odbiorcaOption2"/>
                            przedsiębiorca prowadzący działalność gospodarczą, będący płatnikiem podatku VAT
                        </label>
                    </div>
                <br/>
                <h4>Dane do wysyłki (pole obowiązkowe)</h4>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Imię i nazwisko/nazwa firmy*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Imię i nazwisko lub nazwa firmy"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress" class="col-sm-2 control-label">Adres (ulica, numer domu i mieszkania)*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAddress" name="inputAddress" placeholder="Adres"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPostalCode" class="col-sm-2 control-label">Kod pocztowy*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPostalCode" name="inputPostalCode" placeholder="00-000"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCity" class="col-sm-2 control-label">Miejcowość*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCity" name="inputCity" placeholder="Miejscowość"/>
                        </div>
                    </div>
                <br/>
                <h4>Dane kontaktowe</h4>
                <div class="form-group">
                    <label for="inputMail" class="col-sm-2 control-label">E-mail*</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputMail" name="inputMail" placeholder="email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-sm-2 control-label">Telefon</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPhone" placeholder="000 000 000"/>
                    </div>
                </div>
                <br/>
                <h4>Regulamin</h4>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="inputRegulamin" value=""/>
                            Oświadczam, że przeczytałem i akceptuję
                            <a th:href="@{~/regulamin}">Regulamin Sklepu</a>
                        </label>
                    </div>
                <br/>
                <button type="submit" class="btn btn-default">Złóż zamówienie z obowiązkiem zapłaty</button>
            </form>
        </div>


    </div>


    <div class ="container">
        <div th:include="wstawki :: footer"/>
    </div>

</body>
</html>