<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="/css/styles.css" rel='stylesheet' type='text/css' />
    <!--<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />-->
    <!--&lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;-->
    <script src="/js/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>

</head>
<body>
    <div class ="container">
        <div th:include="wstawki :: banner"/>
    </div>
    <div class ="container">
            <div th:include="wstawki :: topNavigation"/>
    </div>
    <div class = "container">
        <ol class="breadcrumb">
            <li><a th:href="@{~/home}">Produkty</a></li>
            <li class="active" th:text="${product.name}">12</li>
        </ol>
    </div>

    <div  class ="container" height = "400px">
        <h4><strong th:text="${product.name}"> produkt do zmiany</strong></h4>
        <h5 th:text="'PRODUCTENT: ' + |${product.brand}|"> PRODUCTENT: BioPlant</h5>
        <h5 th:text="'CENA: ' + |${product.price}|"> CENA: ddk</h5>

        <th:block th:switch="${wasAdded}">
            <div th:case="true"
                 class="alert alert-success alert-dismissible"
                 role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Produkt dodany do koszyka.</strong>
            </div>
        </th:block>


        <img class="img-details" th:src="|${product.imageUrl}|" alt="productimage"/>
        <div class="caption">
            <p th:text="${product.description}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <h4>
                <form th:action="@{|~/addToCart/${product.id}|}" method="get">
                    <div>
                        <input type="submit" class="btn btn-default dropdown-toggle" value = "Do koszyka"/>
                    </div>
                </form>
            </h4>
        </div>


    </div>

    <div class ="container">
        <div th:include="wstawki :: footer"/>
    </div>
</body>
</html>